[submodule "backend/spark_tensorflow_pipeline"]
	path = backend/spark_tensorflow_pipeline
	url = https://github.com/CathalMullan/spark_tensorflow_pipeline.git
[submodule "backend/email_crawler"]
	path = backend/email_crawler
	url = https://github.com/CathalMullan/email_crawler.git
[submodule "backend/email_stream_processor"]
	path = backend/email_stream_processor
	url = https://github.com/CathalMullan/email_stream_processor.git
[submodule "infrastructure/email_pipeline_infrastructure"]
	path = infrastructure/email_pipeline_infrastructure
	url = https://github.com/CathalMullan/email_pipeline_infrastructure.git
